<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :house_title %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :house_address %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :house_price %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.text_field :available, id: :house_available %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :house_description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, id: :house_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
