

<p id="notice"><%= notice %></p>
<div class="col-md-12" style="border-bottom: 2px solid #0b0f14">

<div class="col-md-4" style="margin-left: 2%">
<h4 style="font-weight: 400; color: #3b3e42; font-size: 30px">Available Listings<span style="color: red">.</span></h4>
</div>

</div>



<center>
    <% @houses.each do |house| %>
    
    
      <div class="card col-md-4" style="min-width: 370px; padding: 10px;">
     
        <p style="font-size: 20px; font-weight: 500; width: 100%; color: #3b3e42"><%= house.title %></p>
       
        <p style="font-size: 17px; font-weight: 300; margin-top: -10px; color: grey"><%= house.address %></p>
        <img><%= image_tag house.picture_url, :size => '340x200' if house.picture.present? %></img>
        <center>  
       
   
       
        <div class="card" style="width: 340px; height: 40px; background: #3b3e42; color: white">

        <p style="font-size: 17px; font-weight: 400; height: 40px; color: white; padding: 8px"><%= house.price %></p>
     
        </div>
        <div class="card" style="width: 340px; height: 40px; background: #3b3e42; color: white">
        <p style="font-size: 17px; font-weight: 400; height: 30px; margin-top: 15px; color: white; padding: 9px
        "><%= link_to 'View', house, {:style=>'color: white', :class => "css_class"} %></p>
        </div>
        </center>
      
     
       
        </div>
       
   </center>
    <% end %>


 


<br>




            
