
<div class="row card" style="padding: 35px">
<div class="col-md-7 card" style="height: auto; padding: 10px">
<div class="card" style="background: rgba(36, 133, 222, 1)">

<h5 style="color: white; padding: 15px">

  <%= @house.title %>
</h5>
</div>
<div class="" style="padding: 15px">
<p style="font-size: 20px; border-bottom: 1px solid black">
 
  <%= @house.address %>
</p>


<p style="font-size: 23px">

  <%= @house.price %>
</p>


<p style="font-size: 14px; margin-left: 5px; margin-right: 5px; margin-bottom: 20px">
 
  <%= @house.description %>
</p>
</div>
</div>
<div class="col-md-5" style="padding: 10px">
<p>


  <%= image_tag(@house.picture_url, width: 400, height: 270) if @house.picture.present? %>
</p>
</div>

<p style="float: left; margin-left: 20px; font-size: 20px">
<%= link_to 'Back', houses_path %>
</p>
