<!DOCTYPE html>
<html>
  <head>
    <title>UpListed</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ">
  <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll" style="background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232526, #414345); height: 45px">
   <a class="navbar-brand" style="color: white; font-size: 20px; font-weight: 500; margin-left: 25px; margin-bottom: 12px" href="/">UpRented</a>
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->


      <div class="collapse navbar-collapse" id="navigation-example" style="float: right; font-weight: 500; font-size: 15px; margin-bottom: 5px">
      <% if user_signed_in? %>

      
        
      <%= link_to "Home", home_listing_path, :class => 'navbar-link'  %>
      
        &nbsp
        |
        &nbsp
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
      
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

      <% end %>
      </div>
  </div>
</nav>




  



  <div  style="text-align: center">
  <% if notice %>
  <p style="color: white" class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p style="color: white" class="alert alert-danger"><%= alert %></p>
<% end %>
  <%= yield %>
</div>

<footer>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
  </body>
</html>

